<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hello Dojo!</title>
<script src="../../js/dojo-release-1.9.1/dojo/dojo.js" 
></script>
<script type="text/javascript">
		require(["dojo/dom","dojo/domReady!"],function(dom){
			
			var h = dom.byId("greeting");
			var text = "<font color='red'>我变成了红色！</font>";
			h.innerHTML = text;
			alert(12);
			
			
		}); 
		/* window.onload=function(){
		var h = document.getElementById("greeting");
		var text = "<font color='red'>我变成了红色！</font>";
		h.innerHTML = text;
		}; */
		</script>

</head>
<body>
	<h1 id="greeting">Hello</h1>
	<!-- load dojo and provide config via data attribute -->


</body>
</html>